@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header {
  font-family: 'Ubuntu', sans-serif;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 76px;
  padding: 0 8px; }
  @media (min-width: 1024px) {
    .header {
      height: 76px; } }
  .header__navigation {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .header__navigation {
        width: 800px; } }
  .header__menu:hover {
    cursor: pointer; }
  @media (min-width: 1024px) {
    .header__menu {
      display: none; } }
  .header__navbar {
    display: flex;
    align-items: center;
    margin-right: 4px;
    justify-content: space-between;
    width: 90px;
    height: 46px; }
    @media (min-width: 1024x) {
      .header__navbar {
        width: 120px;
        height: 70px; } }
  .header__mode {
    width: 34px; }
    .header__mode-img {
      margin: 4px 4px;
      width: 24px;
      height: 20px; }
      @media (min-width: 1024px) {
        .header__mode-img {
          width: 24px;
          height: 20px; } }
    .header__mode-info {
      margin-top: -7px;
      color: white;
      text-align: center;
      font-size: 12px; }
    .header__mode:hover {
      cursor: pointer;
      opacity: 0.5; }
  .header__cart {
    position: relative;
    font-weight: bold; }
    .header__cart:hover {
      cursor: pointer;
      opacity: 0.5; }
    .header__cart--notification {
      display: none;
      background-color: #c50000;
      width: 16px;
      height: 16px;
      border-radius: 14px;
      position: absolute;
      top: -10px;
      right: -3px;
      text-align: center;
      font-size: 0.7rem;
      color: white; }
  .header__logo {
    width: 120px;
    height: 78px;
    padding-top: 6px; }
    @media (min-width: 1024px) {
      .header__logo {
        width: 150px;
        height: 80px;
        margin-left: 8px; } }

.navbar {
  display: none; }
  @media (min-width: 1024px) {
    .navbar {
      display: block;
      width: 600px;
      line-height: 70px;
      margin-left: 50px; } }
  .navbar ul li .active {
    color: white;
    display: inline-block;
    border-bottom: 3px solid white;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease; }
  .navbar__items {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between; }
  .navbar__link {
    text-decoration: none;
    color: rgba(158, 158, 158, 0.5);
    font-weight: 600; }
    .navbar__link:hover {
      cursor: pointer;
      opacity: 0.5;
      color: white; }

.modalNavbar {
  background-color: #121212;
  width: 230px;
  height: 100%; }
  .modalNavbar__background {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden; }
  .modalNavbar__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 40px; }
  .modalNavbar__link {
    display: flex;
    padding-left: 20px;
    height: 50px;
    width: 210px;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1em; }
    .modalNavbar__link:hover {
      cursor: pointer;
      opacity: 0.5;
      border-radius: 0 50px 50px 0;
      background-color: rgba(158, 158, 158, 0.5);
      color: #ffffff; }
  .modalNavbar__close-icon {
    width: 22px;
    height: 22px;
    margin: 24px 20px; }
    .modalNavbar__close-icon:hover {
      cursor: pointer; }

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 76px;
  left: 8px;
  z-index: 1; }
  @media (min-width: 1024px) {
    .cart {
      width: 100%; } }
  .cart__container {
    margin-left: 40px;
    display: none;
    width: 340px;
    border-radius: 10px;
    background-color: #121212; }
    @media (min-width: 1024px) {
      .cart__container {
        margin-left: 0;
        width: 96%; } }
  .cart__header {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f3f3f3; }
  .cart__title {
    font-size: 20px;
    margin-left: 12px; }
  .cart__icon-close {
    width: 25px;
    height: 25px;
    margin-right: 12px; }
    .cart__icon-close:hover {
      cursor: pointer; }
  .cart__icon-delete {
    width: 15px;
    height: 15px; }
    .cart__icon-delete:hover {
      cursor: pointer; }
  .cart__body {
    background-color: #e4d8d8;
    border-radius: 12px;
    margin: 10px 4px 10px 4px;
    color: #121212; }
    .cart__body-img {
      width: 60px;
      height: 60px;
      margin-top: 4px; }
    .cart__body__cont {
      display: flex;
      justify-content: space-between; }
      .cart__body__cont-name {
        display: block;
        height: 30x; }
      .cart__body__cont-img {
        display: flex;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 8px; }
      .cart__body__cont-cant {
        display: flex;
        align-items: center;
        font-weight: 600; }
      .cart__body__cont-price {
        display: flex;
        align-items: center;
        font-weight: 700; }
      .cart__body__cont-icon {
        display: flex;
        align-items: center;
        margin-right: 8px; }
    .cart__body-name {
      font-size: 14px;
      text-align: center; }
  .cart__footer {
    font-weight: bold;
    font-size: 18px;
    background-color: #121212; }
    .cart__footer-text {
      color: #f3f3f3;
      margin: 15px 15px; }
    .cart__footer-cont {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 25px;
      margin: 10px 10px 10px; }
    .cart__footer-clear {
      height: 40px;
      width: 115px;
      font-size: 14px;
      font-weight: 600;
      color: #dddada;
      background-color: #c00000;
      border-radius: 12px;
      border: none; }
      .cart__footer-clear:hover {
        cursor: pointer;
        opacity: 0.5; }
    .cart__footer-buy {
      height: 40px;
      width: 90px;
      font-size: 14px;
      font-weight: 600;
      color: #dddada;
      background-color: #34306b;
      border-radius: 12px;
      border: none; }
      .cart__footer-buy:hover {
        cursor: pointer;
        opacity: 0.5; }

.show {
  display: none; }

.redes {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px; }
  @media (min-width: 1115px) {
    .redes {
      padding-top: 18px; } }
  .redes__content {
    background-color: #ffffff;
    position: relative;
    height: 130px; }
    @media (min-width: 1115px) {
      .redes__content {
        height: 235px; } }
  .redes__img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 12px; }
  .redes__left {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 70px; }
    @media (min-width: 1115px) {
      .redes__left {
        width: 90px; } }
    .redes__left:hover {
      cursor: pointer; }
  .redes__rigth {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    width: 70px; }
    @media (min-width: 1115px) {
      .redes__rigth {
        width: 90px; } }
    .redes__rigth:hover {
      cursor: pointer; }
  @media (min-width: 1115px) {
    .redes__links {
      width: 35px;
      height: 35px; } }

.swiper {
  width: 100%;
  height: 250px; }
  .swiper :hover {
    opacity: 1; }
  @media (min-width: 1024px) {
    .swiper {
      height: 280px; } }
  .swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .swiper-button-prev {
    --swiper-navigation-size: 20px;
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
    height: 32px;
    width: 32px;
    padding-right: 4px;
    opacity: 0; }
  .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: #ffffff;
    color: #000;
    border-radius: 30px;
    height: 32px;
    width: 32px;
    padding-left: 4px;
    opacity: 0; }
  .swiper-pagination {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px; }
  .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff; }
    .swiper-pagination-bullet-active {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25); }

.aboutSection-container {
  width: 100%;
  height: 100%;
  margin-top: 20px; }
  @media (min-width: 1024px) {
    .aboutSection-container {
      height: 85vh;
      display: flex;
      flex-direction: row-reverse; } }

.aboutSection__img {
  display: flex;
  justify-content: center; }
  @media (min-width: 1024px) {
    .aboutSection__img {
      margin-top: 20px; } }
  .aboutSection__img-details {
    width: 90%;
    height: 100%; }
    @media (min-width: 1024px) {
      .aboutSection__img-details {
        height: 100%;
        width: 430px;
        padding-right: 10px; } }

.aboutSection__descrip {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .aboutSection__descrip-pharse {
    width: 90%; }
  .aboutSection__descrip-tittle {
    font-size: 26px;
    text-align: center; }
    @media (min-width: 1024px) {
      .aboutSection__descrip-tittle {
        margin: 10px 0 15px 0;
        font-size: 30px; } }
  .aboutSection__descrip-tittle2 {
    font-size: 26px;
    text-align: center;
    margin-top: 60px; }
    @media (min-width: 1024px) {
      .aboutSection__descrip-tittle2 {
        margin: 100px 0 15px 0;
        font-size: 30px; } }
  .aboutSection__descrip-letters {
    font-size: 15px;
    font-weight: bold; }
  .aboutSection__descrip-text {
    text-align: center;
    margin: 15px 0 15px 0; }

.aboutSection__rewards-container {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%; }

.aboutSection__rewards-pharse {
  margin: 20px 15px 20px 20px; }
  @media (min-width: 1024px) {
    .aboutSection__rewards-pharse {
      width: 1000px;
      margin-bottom: 10px; } }

.aboutSection__rewards-tittle {
  font-size: 32px; }

.aboutSection__rewards-img {
  margin: 20px 0 15px 0;
  width: 320px; }
  @media (min-width: 1115px) {
    .aboutSection__rewards-img {
      width: 450px;
      height: 300px; } }

.aboutSection__rewards-letter {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: #121212; }

.cards__titleFirst {
  text-align: center;
  margin: 25px 0 25px 0;
  font-size: 35px; }

.cards__item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.cards__link {
  text-decoration: none; }

.cards__mainButton {
  color: #e4d8d8;
  background-color: #34306b;
  height: 32px;
  width: 160px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin: 15px 0 15px 0; }
  .cards__mainButton:hover {
    cursor: pointer;
    opacity: 0.5; }

.cards__cont {
  height: 400px;
  width: 290px;
  font-size: 14px;
  background-color: #e4d8d8;
  margin: 35px 20px 35px 20px;
  border-radius: 12px;
  position: relative;
  border: 1.5px solid #020352;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }

.cards__container {
  width: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 1025px) {
    .cards__container {
      justify-content: space-between;
      width: 100%; } }

.cards__section-title {
  font-size: 16px; }

.cards__img-edit {
  width: 100%;
  height: 180px;
  border-radius: 12px 12px 0 0; }

.cards__description__title {
  color: #121212;
  margin: 15px 8px 10px 8px;
  font-size: 14spx;
  text-align: center; }

.cards__description__price {
  display: flex;
  align-items: center;
  gap: 10px; }
  .cards__description__price-discount {
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    margin: 18px 0 10px 18px; }

.cards__description__button {
  width: 85%;
  margin-left: 7.5%;
  height: 50px;
  border-radius: 8px;
  background-color: #34306b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 700; }
  .cards__description__button:hover {
    cursor: pointer;
    opacity: 0.5; }

.form {
  margin: 30px 12px;
  background-color: #757373;
  border-radius: 2px; }
  @media (min-width: 1115px) {
    .form {
      width: 650px;
      display: block;
      margin: 40px auto; } }
  .form__section {
    margin: 0 5px 10px; }
    @media (min-width: 1115px) {
      .form__section {
        margin: 0 25px 10px; } }
  .form__labels {
    display: block;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 6px; }
    @media (min-width: 1115px) {
      .form__labels {
        font-size: 16px; } }
  .form__control {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    height: 35px;
    outline: none; }
    .form__control::placeholder {
      color: #7c7a7a; }
  .form__options {
    width: 100%;
    height: 32px;
    margin-bottom: 8px; }
    @media (min-width: 1115px) {
      .form__options {
        width: 50%; } }
  .form__submit {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 8px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
    border: none; }
    .form__submit:hover {
      cursor: pointer;
      opacity: 0.5; }
    @media (min-width: 1115px) {
      .form__submit {
        width: 325px;
        display: block;
        margin: 0 auto 15px; } }
  .form__comments {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    height: 150px;
    outline: none; }
    .form__comments::placeholder {
      color: #7c7a7a; }
  .form__paragraph {
    text-align: center;
    padding-top: 10px; }

.footer__second {
  background-color: #121212;
  color: rgba(236, 236, 210, 0.9);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px; }
  @media (min-width: 1024px) {
    .footer__second {
      justify-content: space-between;
      height: 115px; } }

.footer__items {
  height: 84px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .footer__items {
      width: 180px;
      height: 100%; } }

.footer__links {
  text-decoration: none;
  color: rgba(236, 236, 210, 0.9); }

.footer__option {
  color: rgba(236, 236, 210, 0.9);
  width: 190px;
  text-align: center;
  padding-top: 12px; }
  @media (min-width: 1024px) {
    .footer__option {
      width: 200px;
      height: 100%;
      padding-top: 2px; } }

.footer__descrip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  height: 84px;
  margin: 16px 24px; }
  @media (min-width: 1024px) {
    .footer__descrip {
      width: 180px;
      height: 100%;
      margin: 0 18px; } }

.footer__redes {
  width: 240px; }
  @media (min-width: 1024px) {
    .footer__redes {
      width: 900px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse; } }
  .footer__redes-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    padding-top: 3px; }
    @media (min-width: 1024px) {
      .footer__redes-items {
        width: 400px;
        height: 100%; } }

.footer__first {
  position: relative;
  height: 40px;
  background-color: #121212;
  color: rgba(236, 236, 210, 0.9);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1024px) {
    .footer__first {
      font-size: 18px;
      height: 50px; } }

.footer__line {
  color: rgba(231, 231, 231, 0.1);
  size: 0.1px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.main-container {
  width: 360px;
  background-color: rgba(236, 236, 210, 0.6);
  margin: auto;
  position: relative; }
  @media (min-width: 1024px) {
    .main-container {
      width: 100%; } }

.dark {
  background-color: #121212; }

.active {
  color: rgba(236, 236, 210, 0.9); }
