//MENU CARDS (filter)
.cards{
    &__titleFirst{
        text-align: center;
        margin: 25px 0 25px 0;
        font-size: 35px;
    }
    &__item{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    &__link{
        text-decoration: none;
    }
    &__mainButton{
        color:rgb(228, 216, 216);  
        background-color: rgb(52, 48, 107);
        height: 32px;
        width: 160px;
        border-radius: 8px;
        border: none;
        font-weight: bold; 
        margin: 15px 0 15px 0;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        } 
    }
    //CARDS
    &__cont{
        height: 400px;
        width: 290px;
        font-size: 14px;
        background-color:rgb(228, 216, 216);
        margin: 35px 20px 35px 20px;
        border-radius: 12px;
        position: relative;
        border: 1.5px solid rgb(2, 3, 82);
        box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
    }
    &__container{
        width: 365px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (min-width: 1025px){
            justify-content: space-between;
            width: 100%;
        }
    } 
    &__section{
        &-title{
            font-size: 16px;
        }
    }
    &__img{
        &-edit{
            width: 100%;
            height: 180px;
            border-radius: 12px 12px 0 0;
            
        }
    }
    &__description{
        &__title{
            color: #121212;
            margin: 15px 8px 10px 8px;
            font-size: 14spx;
            text-align: center;
        }
        &__price{
            display: flex;
            align-items: center;
            gap: 10px;
            &-discount{
                color: #121212;
                font-size: 16px;
                font-weight: bold;
                margin: 18px 0 10px 18px;
            }
        }
        &__button{
            width: 85%;
            margin-left: 7.5%;
            height: 50px;
            border-radius: 8px;
            background-color: rgb(52, 48, 107);
            color: #fff;
            border: none;
            font-size: 1.1em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            font-weight: 700;
            &:hover{
                cursor: pointer;
                opacity: 0.5;
            };
        };
    };
}