.redes{
    //margin-top: 76px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    @media(min-width: 1115px){
        padding-top: 18px;
    }
    &__content{
        background-color: #ffffff;
        position: relative;
        height: 130px;
        @media(min-width: 1115px){
            height: 235px;
        }
    }
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 12px;
    }
    &__left{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 70px;
        @media(min-width: 1115px){
            width: 90px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__rigth{
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        width: 70px;
        @media(min-width: 1115px){
            width: 90px;
        }
        &:hover{
            cursor: pointer;
        }
        
    }
    &__links{
        @media(min-width: 1115px){
            width: 35px;
            height: 35px;
        }
    }
}