<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <main class="main-container" >
      <header class="header">
        <div class="header__navigation">
          <img class="header__menu" src="./img/icon-menu.svg" alt=""><!-- Acá va el icono del menú-->
          <a href=""><img class="header__logo" src="../img/logo.png" alt=""></a> <!-- Acá icono charmy-->
        
          <div class="navbar">
            <ul class="navbar__items">
              <li><a class="navbar__link" href="../index.html">Inicio</a></li>
              <li><a class="navbar__link" href="./carta.html">MENÚ</a></li>         
              <li><a class="navbar__link" href="./contacto.html">Contacto</a></li>
              <li><a class="navbar__link" href="./nosotros.html">Nosotros</a></li>
              <li><a class="navbar__link" href="./caridad.html">Solidaridad</a></li
            </ul>
          </div>
        </div>

            <!-- inicio navbar modal -->
        <div class="modalNavbar__background"> <!-- parte oscura cuando el menú se desliza.-->          
          <nav class="modalNavbar">
            <img class="modalNavbar__close-icon" src="./img/icon-close.svg" alt=""> <!--Acá icono de cierre-->
            <ul class="modalNavbar__items">
              <li><a class="modalNavbar__link" href="./index.html">Inicio</a></li>
              <li><a class="modalNavbar__link" href="./carta.html">MENÚ</a></li>
              <li><a class="modalNavbar__link" href="./nosotros.html">Nosotros</a></li>
              <li><a class="modalNavbar__link" href="./contacto.html">Contacto</a></li>
              <li><a class="modalNavbar__link" href="./caridad.html">Solidaridad</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__navbar">
          <a href=""><img class="header__avatar" src="./img/interrogation.svg" alt=""></a>
          <div class="header__cart">
            <div class="header__cart--notification">0</div>
            <img  src="./img/icon-cart-white.svg" alt="">
          </div> <!-- icon cart-->
        </div>  
      </header>
      <footer class="footer">
        <hr class="footer__line">
        <div class="footer__second">
          <div class="footer__redes">
            <ul class="footer__redes-items">
            <li><a class="footer__links" href=""><img src="../img/faceFooter.png" title="facebook" alt="logo"></a></li>
            <li><a class="footer__links" href=""><img src="../img/instagramFooter.png" title="instagram" alt="logo"></a></li>
            <li><a class="footer__links" href=""><img src="../img/twitterFooter.png" title="twitter" alt="logo"></a></li>
            <li><a class="footer__links" href=""><img src="../img/tiktokFooter.png" title="tiktok" alt="logo"></a></li>
            </ul>
            <div class="footer__descrip">
              <p class="footer__info">© CHARMY 2022</p>
              <p class="footer__info">+54  911 2345 6789</p>
              <p class="footer__info">info@charmy.com</p>
              
            </div>
          </div>  
          <div class="footer__option">
            <ul class="footer__items">
              <li><a class="footer__links" href="../views/contacto.html">Contactanos</a></li>
              <li><a class="footer__links" href="../views/nosotros.html">Quienes somos</a></li>
              <li><a class="footer__links" href="..//views/caridad.html">Huellitas para contar</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </main>
    
</body>
</html>