<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <main class="main-container" >
      <header class="header">
        <div class="header__navigation">
          <img class="header__menu" src="./img/icon-menu.svg" alt=""><!-- Acá va el icono del menú-->
          <a href=""><img class="header__logo" src="./img/logo_3_.svg" alt=""></a> <!-- Acá icono charmy-->
        
          <div class="navbar">
            <ul class="navbar__items">
              <li><a class="navbar__link" href="./carta.html">CARTA</a></li>
              <li><a class="navbar__link" href="../index.html">Inicio</a></li>
              <li><a class="navbar__link" href="./contacto.html">Contacto</a></li>
              <li><a class="navbar__link" href="./nosotros.html">Nosotros</a></li>
              <li><a class="navbar__link" href="./nosotros.html">Solidaridad</a></li
            </ul>
          </div>
        </div>
  
        <!--SEARCH-->
       
    
            <!-- inicio navbar modal -->
        <div class="modalNavbar__background"> <!-- parte oscura cuando el menú se desliza.-->          
          <nav class="modalNavbar">
            <img class="modalNavbar__close-icon" src="./img/icon-close.svg" alt=""> <!--Acá icono de cierre-->
            <ul class="modalNavbar__items">
              <li><a class="modalNavbar__link" href="./carta.html">CARTA</a></li>
              <li><a class="modalNavbar__link" href="../index.html">Inicio</a></li>
              <li><a class="modalNavbar__link" href="./nosotros.html">Nosotros</a></li>
              <li><a class="modalNavbar__link" href="./contacto.html">Contacto</a></li>
              <li><a class="modalNavbar__link" href="./caridad.html">Solidaridad</a></li>
            </ul>
          </nav>
        </div>
            <!-- final navbar modal --> <!--esto se va a mostrar siempre sea en movil y compu-->
          
        <div class="header__navbar">
          <a href=""><img class="header__avatar" src="./img/interrogation.svg" alt=""></a>
          <div class="header__cart">
            <div class="header__cart--notification">0</div>
            <img  src="./img/icon-cart.svg" alt="">
          </div> <!-- icon cart-->
        </div>  
      </header>
    </main>
    
</body>
</html>