<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <main class="main-container" >
    <header class="header">
      <div class="header__navigation">
        <img class="header__menu" src="../img/icon-menu.svg" alt=""><!-- Acá va el icono del menú-->
        <a href="../index.html"><img class="header__logo" src="../img/logo.svg" alt=""></a> <!-- Acá icono charmy-->
      
        <div class="navbar">
          <ul class="navbar__items">
            <li><a class="navbar__link" href="../index.html">Inicio</a></li>
            <li><a class="navbar__link" href="./carta.html">MENÚ</a></li>      
            <li><a class="navbar__link" href="./nosotros.html">Nosotros</a></li>
            <li><a class="navbar__link" href="./contacto.html">Contacto</a></li>
            <li><a class="navbar__link" href="./nosotros.html">Solidaridad</a></li
          </ul>
        </div>
      </div>

      <!--SEARCH-->
     
  
          <!-- inicio navbar modal -->
      <div class="modalNavbar__background"> <!-- parte oscura cuando el menú se desliza.-->          
        <nav class="modalNavbar">
          <img class="modalNavbar__close-icon" src="../img/icon-close.svg" alt=""> <!--Acá icono de cierre-->
          <ul class="modalNavbar__items">
            <li><a class="modalNavbar__link" href="index.html">Inicio</a></li>
            <li><a class="modalNavbar__link" href="./carta.html">CARTA</a></li>
            <li><a class="modalNavbar__link" href="./nosotros.html">Nosotros</a></li>
            <li><a class="modalNavbar__link" href="./contacto.html">Contacto</a></li>
            <li><a class="modalNavbar__link" href="./nosotros.html">Solidaridad</a></li>
          </ul>
        </nav>
      </div>
          <!-- final navbar modal --> <!--esto se va a mostrar siempre sea en movil y compu-->
        
      <div class="header__navbar">
        <!-- <a href=""><img class="header__avatar" src="../img/interrogation.svg" alt=""></a> -->
        <div class="header__cart" id="readCart">
          <div class="header__cart--notification">0</div>
          <img  src="../img/icon-cart-white.svg" alt="">
        </div> <!-- icon cart-->
      </div>  
    </header>
    <form action="" class="form">
        <h4 class="form__paragraph">FORMULARIO DE CONTACTO</h4>
        <p class="form__paragraph">Recordá que también podes contactarnos en las redes sociales</p>
        
      <div class="form__section">
        <label for="" class="form__labels">Nombre/s <span class="form__labels-details">*</span></label>
        <input type="text" class="form__control" placeholder="Escriba su nombre/s">
      </div>
      <div class="form__section">
        <label for="" class="form__labels">Apellido <span class="form__labels-details">*</span></label>
        <input type="text" class="form__control" placeholder="Escriba su apellido">
      </div>
      <div class="form__section">
        <label for="" class="form__labels">Email <span class="form__labels-details">*</span></label>
        <input type="email" class="form__control" placeholder="ejemplo@ejemplo.com">
      </div>
      <div class="form__section">
        <label for="" class="form__labels">Teléfono <span class="form__labels-details">*</span></label>
        <input type="text" class="form__control" placeholder="11 2233 4455">
      </div>
      <div class="form__section">
        <label for="" class="form__labels">Mótivo de contacto <span class="form__labels-details">*</span></label>
        <select name="" id="" class="form__options">
          <option selected>Seleccione</option>
          <option>Sugerencia</option>
          <option>Consulta</option>
          <option>Reclamo/crítica</option>
          <option>Otros</option>
        </select>
      </div>
      <div class="form__section">
        <label for="" class="form__labels">Mensaje <span class="form__labels-details">*</span></label>
        <input type="text" class="form__comments" id="" placeholder="Escriba su comentario...">      
      </div>
      <div class="form__button">
        <input type="submit" name="" id="sent" value="Enviar" class="form__submit">
      </div>
      
        <p><span>*</span> Los campos son obligatorios</p>
    </form>
    
    <!-- CART-->
    <section class="cart">
      <div class="cart__container" id="cart">
      </div> 

    </section>

    <footer class="footer__second">
      <div class="footer__redes">
        <ul class="footer__redes-items">
          <li><a class="footer__links" href=""><img src="../img/faceFooter.png" alt=""></a></li>
          <li><a class="footer__links" href=""><img src="../img/instagramFooter.png" alt=""></a></li>
          <li><a class="footer__links" href=""><img src="../img/twitterFooter.png" alt=""></a></li>
          <li><a class="footer__links" href=""><img src="../img/tiktokFooter.png" alt=""></a></li>
        </ul>
        <div class="footer__descrip">
          <p>© CHARMY 2022</p>
          <p>+54  911 2345 6789</p>
          <p>info@charmy.com</p>
          <p><a class="footer__links" href="">Contactanos</a></p>
        </div>
      </div>  
      <div class="footer__option">
        <ul class="footer__items">
          <li><a class="footer__links" href="">Quienes somos</a></li>
          <li><a class="footer__links" href="">Preguntas frecuentes</a></li>
          <li><a class="footer__links" href="">Huellitas para contar</a></li>
          <li><a class="footer__links" href="">Términos y condiciones</a></li>
        </ul>
      </div>
    </footer>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../js/script.js"></script>
  <script src="../js/cart.js"></script>
  <script src="../js/form.js"></script>
  <script src="../js/main.js"></script> 

</body>
</html>